# vim swap
*.swp

# burp
*.burp

# Distribution / packaging
build/
dist/

# java
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse
.project
.settings
/bin/
.classpath
.externalToolBuilders
*.jardesc
